{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5" >About Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore obcaecati deleniti saepe adipisci sapiente praesentium aut incidunt blanditiis maxime illo, labore hic accusantium accusamus illum dolor at! Deleniti, aspernatur?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, dicta. Accusantium nemo fugiat quam cumque sint esse quos beatae repellat laudantium. Laboriosam ullam aspernatur nulla ut ratione similique vero sunt numquam at maiores! Rerum maiores at repellendus temporibus earum repellat voluptatem, consequuntur doloremque velit, quaerat suscipit aspernatur culpa corrupti nemo!</p>
  
      </div>
</div>

{% endblock content %}